<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Enable instant app support -->
<!--    <dist:module dist:instant="true" /> &lt;!&ndash; Declare features &ndash;&gt;-->
<!--    <uses-feature android:name="android.hardware.camera" />-->

<!--    <uses-feature android:name="android.hardware.usb.host" /> &lt;!&ndash; Declare permissions &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->


<!--    <uses-permission android:name="android.permission.WAKE_LOCK"/>-->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-feature android:name="android.hardware.camera"/>-->
<!--    <uses-feature android:name="android.hardware.camera.autofocus"/>-->

<!--    &lt;!&ndash;bugly permission need&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
<!--    <uses-permission android:name="android.permission.READ_LOGS"-->
<!--        tools:ignore="ProtectedPermissions" />-->

    <!--  Declare permissions  -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindObject"
        tools:targetApi="31">
        <activity
            android:name=".fragment.CameraFragment"
            android:exported="false" >

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>